interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://vmap0.tiles.osgeo.org/wms/vmap0?service=WMS&request=GetCapabilities&version=1.1.1
  response:
    body: {string: "<?xml version='1.0' encoding=\"ISO-8859-1\" standalone=\"no\"
        ?>\n<!DOCTYPE WMT_MS_Capabilities SYSTEM \"http://schemas.opengis.net/wms/1.1.1/WMS_MS_Capabilities.dtd\"\n
        [\n <!ELEMENT VendorSpecificCapabilities EMPTY>\n ]>  <!-- end of DOCTYPE
        declaration -->\n\n<WMT_MS_Capabilities version=\"1.1.1\">\n\n<!-- MapServer
        version 5.6.5 OUTPUT=GIF OUTPUT=PNG OUTPUT=JPEG OUTPUT=WBMP OUTPUT=SVG SUPPORTS=PROJ
        SUPPORTS=AGG SUPPORTS=FREETYPE SUPPORTS=ICONV SUPPORTS=WMS_SERVER SUPPORTS=WMS_CLIENT
        SUPPORTS=WFS_SERVER SUPPORTS=WFS_CLIENT SUPPORTS=WCS_SERVER SUPPORTS=SOS_SERVER
        SUPPORTS=GEOS INPUT=EPPL7 INPUT=POSTGIS INPUT=OGR INPUT=GDAL INPUT=SHAPEFILE
        -->\n\n<Service>\n  <Name>OGC:WMS</Name>\n  <Title>Metacarta WMS VMaplv0</Title>\n
        \ <OnlineResource xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/>\n
        \ <ContactInformation>\n  </ContactInformation>\n</Service>\n\n<Capability>\n
        \ <Request>\n    <GetCapabilities>\n      <Format>application/vnd.ogc.wms_xml</Format>\n
        \     <DCPType>\n        <HTTP>\n          <Get><OnlineResource xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Get>\n          <Post><OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Post>\n
        \       </HTTP>\n      </DCPType>\n    </GetCapabilities>\n    <GetMap>\n
        \     <Format>image/jpeg</Format>\n      <Format>image/png</Format>\n      <Format>image/gif</Format>\n
        \     <Format>image/png; mode=24bit</Format>\n      <Format>image/vnd.wap.wbmp</Format>\n
        \     <Format>image/tiff</Format>\n      <Format>image/svg+xml</Format>\n
        \     <DCPType>\n        <HTTP>\n          <Get><OnlineResource xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Get>\n          <Post><OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Post>\n
        \       </HTTP>\n      </DCPType>\n    </GetMap>\n    <GetFeatureInfo>\n      <Format>text/plain</Format>\n
        \     <Format>application/vnd.ogc.gml</Format>\n      <DCPType>\n        <HTTP>\n
        \         <Get><OnlineResource xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Get>\n          <Post><OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Post>\n
        \       </HTTP>\n      </DCPType>\n    </GetFeatureInfo>\n    <DescribeLayer>\n
        \     <Format>text/xml</Format>\n      <DCPType>\n        <HTTP>\n          <Get><OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Get>\n
        \         <Post><OnlineResource xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Post>\n        </HTTP>\n
        \     </DCPType>\n    </DescribeLayer>\n    <GetLegendGraphic>\n      <Format>image/jpeg</Format>\n
        \     <Format>image/png</Format>\n      <Format>image/gif</Format>\n      <Format>image/png;
        mode=24bit</Format>\n      <Format>image/vnd.wap.wbmp</Format>\n      <DCPType>\n
        \       <HTTP>\n          <Get><OnlineResource xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Get>\n          <Post><OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Post>\n
        \       </HTTP>\n      </DCPType>\n    </GetLegendGraphic>\n    <GetStyles>\n
        \     <Format>text/xml</Format>\n      <DCPType>\n        <HTTP>\n          <Get><OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Get>\n
        \         <Post><OnlineResource xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xlink:href=\"http://vmap0.tiles.osgeo.org/wms?\"/></Post>\n        </HTTP>\n
        \     </DCPType>\n    </GetStyles>\n  </Request>\n  <Exception>\n    <Format>application/vnd.ogc.se_xml</Format>\n
        \   <Format>application/vnd.ogc.se_inimage</Format>\n    <Format>application/vnd.ogc.se_blank</Format>\n
        \ </Exception>\n  <VendorSpecificCapabilities />\n  <UserDefinedSymbolization
        SupportSLD=\"1\" UserLayer=\"0\" UserStyle=\"1\" RemoteWFS=\"0\"/>\n  <Layer>\n
        \   <Name>Vmap0</Name>\n    <Title>Metacarta WMS VMaplv0</Title>\n    <Abstract>Vmap0</Abstract>\n
        \   <SRS>EPSG:4269</SRS>\n    <SRS>EPSG:4326</SRS>\n    <SRS>EPSG:900913</SRS>\n
        \   <LatLonBoundingBox minx=\"-180\" miny=\"-90\" maxx=\"180\" maxy=\"90\"
        />\n    <Layer>\n      <Name>basic</Name>\n<!-- WARNING: Mandatory metadata
        '..._GROUP_TITLE' was missing in this context. -->\n      <Title>basic</Title>\n
        \     <Abstract>basic</Abstract>\n      <Layer queryable=\"0\" opaque=\"0\"
        cascaded=\"0\">\n        <Name>ocean</Name>\n<!-- WARNING: Mandatory metadata
        '..._title' was missing in this context. -->\n        <Title>ocean</Title>\n
        \       <!-- WARNING: Optional LatLonBoundingBox could not be established
        for this layer.  Consider setting the EXTENT in the LAYER object, or wms_extent
        metadata. Also check that your data exists in the DATA statement -->\n      </Layer>\n
        \     <Layer queryable=\"0\" opaque=\"0\" cascaded=\"0\">\n        <Name>ground_01</Name>\n<!--
        WARNING: Mandatory metadata '..._title' was missing in this context. -->\n
        \       <Title>ground_01</Title>\n        <LatLonBoundingBox minx=\"-180\"
        miny=\"-90\" maxx=\"180\" maxy=\"90\" />\n        <Style>\n          <Name>default</Name>\n
        \         <Title>default</Title>\n          <LegendURL width=\"78\" height=\"30\">\n
        \            <Format>image/png</Format>\n             <OnlineResource xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xlink:type=\"simple\" xlink:href=\"http://vmap0.tiles.osgeo.org/wms?version=1.1.1&amp;service=WMS&amp;request=GetLegendGraphic&amp;layer=ground_01&amp;format=image/png&amp;STYLE=default\"/>\n
        \         </LegendURL>\n        </Style>\n        <ScaleHint min=\"11973.6683623113\"
        max=\"0\" />\n        <!-- WARNING: Only MINSCALEDENOM and no MAXSCALEDENOM
        specified in the mapfile. A default value of 0 has been returned for the Max
        ScaleHint but this is probably not what you want. -->\n      </Layer>\n      <Layer
        queryable=\"0\" opaque=\"0\" cascaded=\"0\">\n        <Name>ground_02</Name>\n<!--
        WARNING: Mandatory metadata '..._title' was missing in this context. -->\n
        \       <Title>ground_02</Title>[...]
[...]
