# standard python ignores
*.py[co]
build
docs/build
dist
.pytest_cache/

# cartopy build files
lib/cartopy/_version.py
lib/cartopy/trace.cpp
lib/cartopy/trace.so
lib/cartopy/trace.*.so
lib/cartopy/trace.pyd
lib/cartopy/_crs.c
lib/cartopy/_crs.so
lib/cartopy/_crs.*.so
lib/cartopy/_crs.pyd
lib/cartopy/geodesic/_geodesic.c
lib/cartopy/geodesic/_geodesic.so
lib/cartopy/geodesic/_geodesic.*.so
lib/cartopy/geodesic/_geodesic.pyd
docs/build
lib/cartopy/tests/mpl/output/
docs/source/cartopy/examples/
docs/source/cartopy_outline.rst
docs/source/gallery
docs/source/matplotlib/coastlines.p??
docs/source/*/generated/

# some data files:
lib/cartopy/data/SRTM3
lib/cartopy/data/gshhs
lib/cartopy/data/shapefiles

# some configuration files which aren't part of cartopy repo
lib/cartopy/tests/.pep8_test_exclude.txt
lib/cartopy/siteconfig.py

cartopy_test_output


benchmarks/results/
benchmarks/envs/

# pydev files
.project
.pydevproject

# Created by editors
*~
\#*
\.\#*
*.swp
.ipynb_checkpoints/
.idea/
.vscode/

# Operating system files
\.DS_Store
.cache/
__pycache__/

# PyTest cache files
.pytest_cache

# Egg that gets created with 'pip install -v -e .'
*.egg-info/
.eggs/
