# standard python ignores
*.py[co]
build
docs/build


# cartopy build files
lib/cartopy/trace.cpp
lib/cartopy/trace.so
lib/cartopy/_crs.c
lib/cartopy/_crs.so
docs/build

# some data files:
lib/cartopy/data/SRTM3
lib/cartopy/data/wmts
lib/cartopy/data/gshhs

# pydev files
.project
.pydevproject

