# standard python ignores
*.py[co]
build
docs/build

# cartopy build files
lib/cartopy/trace.cpp
lib/cartopy/trace.so
lib/cartopy/trace.*.so
lib/cartopy/trace.pyd
lib/cartopy/_crs.c
lib/cartopy/_crs.so
lib/cartopy/_crs.*.so
lib/cartopy/_crs.pyd
lib/cartopy/geodesic/_geodesic.c
lib/cartopy/geodesic/_geodesic.so
lib/cartopy/geodesic/_geodesic.*.so
lib/cartopy/geodesic/_geodesic.pyd
docs/build
lib/cartopy/tests/mpl/output/
docs/source/cartopy_outline.rst
docs/source/examples
docs/source/gallery.rst
docs/source/gallery
docs/source/api

# some data files:
lib/cartopy/data/SRTM3
lib/cartopy/data/gshhs
lib/cartopy/data/shapefiles

# some configuration files which aren't part of cartopy repo
lib/cartopy/tests/.pep8_test_exclude.txt
lib/cartopy/siteconfig.py

# pydev files
.project
.pydevproject

# Created by editors
*~
\#*
\.\#*
*.swp
.ipynb_checkpoints/

# Operating system files
\.DS_Store
.cache/
__pycache__/

# Egg that gets created with 'pip install -v -e .'
lib/Cartopy.egg-info/
.eggs/