language: python

env:
    matrix:
        - PYTHON_VERSION=2.7
          PACKAGES="numpy=1.8.2 matplotlib=1.3.1 scipy=0.14.0 mock"
        - PYTHON_VERSION=3.4
          PACKAGES="numpy=1.11.1 matplotlib=1.5.3 scipy=0.18.1"
        - NAME="Latest everything."
          PYTHON_VERSION=3
          PACKAGES="numpy matplotlib matplotlib-tests scipy"
        - NAME="Latest everything (py2k)."
          PYTHON_VERSION=2
          PACKAGES="numpy matplotlib matplotlib-tests scipy mock"


sudo: false

git:
  # Because we check the history of every file, we need to have
  # a deep clone of the repo.
  depth: 10000

install:
  # Install miniconda
  # -----------------
  - if [[ "$PYTHON_VERSION" == 2* ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda-3.7.0-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-3.7.0-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"

  # Create the basic testing environment
  # ------------------------------------
  - conda config --set always_yes yes --set changeps1 no --set show_channel_urls yes
  - conda update conda
  - conda create -n test-environment python=$PYTHON_VERSION
  - source activate test-environment

  # Customise the testing environment
  # ---------------------------------
  - conda config --add channels scitools
  - PACKAGES="$PACKAGES cython pillow nose pep8 proj4 pyshp shapely six requests pyepsg owslib"
  - conda install --quiet $PACKAGES

  # Conda debug
  # -----------
  - conda list

  - MPL_CONFIG_DIR=~/.config/matplotlib
  - mkdir -p $MPL_CONFIG_DIR
  - echo "backend" ":" "agg" > $MPL_CONFIG_DIR/matplotlibrc

  # Install cartopy
  # ---------------
  - python setup.py --quiet install

script:
  - mkdir ../test_folder
  - cd ../test_folder

  # Check that the downloader tool at least knows where to get the data from (but don't actually download it)
  - python $TRAVIS_BUILD_DIR/tools/feature_download.py gshhs physical --dry-run

  - CARTOPY_GIT_DIR=$TRAVIS_BUILD_DIR nosetests cartopy --with-doctest -sv

after_failure:
  - source activate test-environment
  - python -c "from __future__ import print_function; import cartopy.tests.mpl; print(cartopy.tests.mpl.failed_images_html())"
