# To set up a development environment using conda, run:
#
#   conda env create -f environment.yml
#   conda activate cartopy-dev
#   pip install -e .
#
name: cartopy-dev
channels:
  - conda-forge
dependencies:
  - cython>=0.29.24
  - numpy>=1.21
  - shapely>=1.7.1
  - pyshp>=2.3
  - pyproj>=3.1.0
  # The testing label has the proper version of freetype included
  - conda-forge/label/testing::matplotlib-base>=3.4

  # OWS
  - owslib>=0.24.1
  - pillow>=6.1.0
  # Plotting
  - scipy>=1.6.3
  # Testing
  - packaging>=20
  - pytest
  - pytest-mpl
  - pytest-xdist
  # Documentation
  - pydata-sphinx-theme
  - sphinx
  - sphinx-gallery
  # Extras
  - pre-commit
  - pykdtree
  - ruff
  - setuptools_scm
