# To set up a development environment using conda, run:
#
#   conda env create -f environment.yml
#   conda activate cartopy-dev
#   pip install -e .
#
name: cartopy-dev
channels:
  - conda-forge
dependencies:
  - cython>=0.28.5
  - numpy>=1.18
  - shapely>=1.6.4
  - geos>=3.7.2
  - pyshp>=2.1
  - pyproj>=3.0.0
  # The testing label has the proper version of freetype included
  - conda-forge/label/testing::matplotlib-base>=3.1

  # OWS
  - owslib>=0.20.0
  - pillow>=6.1.0
  # Plotting
  - scipy>=1.3.1
  # Testing
  - packaging>=20
  - pytest
  - pytest-mpl
  - pytest-xdist
  # Documentation
  - beautifulsoup4
  - pydata-sphinx-theme
  - sphinx
  - sphinx-gallery
  # Extras
  - flake8
  - pykdtree
  - setuptools_scm
