include *.md
include CHANGES
include COPYING*
include INSTALL
include README.rst
include requirements/*.txt
include lib/cartopy/data/*
include lib/cartopy/io/srtm.npz
recursive-include lib *.py
recursive-include lib *.pyx *.pxd *.h
graft docs
prune docs/build
