Source: cartopy
Maintainer: Angelos Tzotsos <gcpp.kalxas@gmail.com>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               python-setuptools (>= 0.6),
               python-support (>=0.6), 
               dpkg-dev (>= 1.16),
               libnetcdf-dev, 
               libhdf5-serial-dev, 
               libudunits2-dev, 
               libgeos-dev, 
               libproj-dev, 
               libjasper-dev, 
               libfreetype6-dev, 
               libpng-dev, 
               tk-dev, 
               cython, 
               netcdf-bin, 
               python-numpy, 
               python-nose, 
               python-pyke, 
               python-pyshp, 
               python-mock, 
               python-sphinx, 
               python-shapely, 
               python-matplotlib,
               autoconf,
               automake,
               autotools-dev,
               gcc, 
               python-all (>= 2.7),
               python-all-dev (>= 2.7)
Standards-Version: 3.9.3
X-Python-Version: >= 2.7
Homepage: http://scitools.org.uk/cartopy/docs/latest/

Package: python-cartopy
Architecture: any
Section: science
Depends: ${shlibs:Depends},
         ${misc:Depends}, 
         netcdf-bin, 
         python-scipy, 
         python-numpy, 
         python-nose, 
         python-pyke, 
         python-pyshp, 
         python-mock, 
         python-sphinx, 
         python-shapely, 
         python-matplotlib,
         python-scipy, 
         python-owslib, 
         python-pil,
         cython, 
         libproj0, 
         libgeos-c1,  
         python-six,
         python (>=2.7), 
         debconf
Description: This package contains the Cartopy library
 .
 Cartopy is a Python package designed to make drawing
 maps for data analysis and visualisation as easy as possible.
