.gallery-images img { border: none;}
.gallery-images p { display: inline;}

.inline-paragraphs p {display: inline;}

.highlight {background: none;}

pre {max-width: 70em;}

div.section dl, div.section ul { max-width: 80em;}

div.figure { padding-left: 5em; }

h1 {
   background-image: url('favicon.60.png');
    background-size: 60px;
    background-repeat: no-repeat;
    padding: 20px 0px 20px 75px;
    margin: 15px 0 10px 0;
   }
